<form ng-submit="signup(newUser)">
  <div>
    <label for="sign-up-name">name: </label>
    <input type="text" ng-model="newUser.name" ng-required="true" id="sign-up-name" name="fullname" value="full name">
  </div>
  <div>
    <label for="sign-up-email">email: </label>
    <input type="text" ng-model="newUser.email" ng-required="true" id="sign-up-email" name="email" value="email">
  </div>
  <div>
    <label for="sign-up-password">password: </label>
    <input type="password" ng-model="newUser.password" ng-required="true">
  </div>
  <button type="submit">sign up</button>
</form>
